@import 'om-oss.scss', 'goalDemand.scss', 'press.scss', 'viVagrarBrytaLagen.scss', 'pressatLage.scss';

$pSize: 1em;

@media (min-width: 601px) {
  %main-header {
    font-size: 3.5em;
    margin: 2%;
    align-self: center;
    text-align: center;
  }
  
  .tabHeader {
    @extend %main-header
  }
}

@media (min-width: 1001px) {
  .tabContent {
    margin-top: 130px;
  }

  .tabContent p {
    font-size: $pSize;
  }
}

@media (min-width: 1201px) {
  .tabContent:nth-child(2) {
    border-radius: 8px;
  }
}