@media (min-width: 651px) {
  .demandWrapper {
    grid-template-columns: 1fr 1fr;
  }

  .demandWrapper ul {
    padding: 10%;
  }

  .externalContentfulList {
    width: 40%;
    min-width: 500px;
  }
}
@media (min-width: 1001px) {
  .listCategory {
    top: 120px;
  }

  .listHeader {
    font-size: 1.3em;
  }
}