@media (min-width: 651px) {
  .demandWrapper {
    grid-template-columns: 1fr 1fr;
  }

  .demandWrapper ul {
    padding: 10%;
  }
}

@media (min-width: 1001px) {
  .listCategory {
    top: 120px;
  }

  .listHeader {
    font-size: 1.3em;
  }
}