@keyframes logo {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.logo-header__container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 50px 0;
}

.logo-header__img{
  width: 100%;
  max-width: 1000px;
  max-height: 15vh;
  object-fit: contain;
  animation: logo 1s;
  opacity: .9;
}

@media (min-width: 767px) {
  .logo-header__img{
    width: 100%;
    max-width: 1000px;
    max-height: 22vh;
  }
}

@media (min-width: 1023px) {
  .logo-header__img{
    max-height: 40vh;
  }
}