.logoHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-height: 11em;
  height: 11em;
  background-color: #fff;
}

.logoHeader p {
  text-align: center;
  max-width: 500px;
  color: #949494;
}

.logoHeader img {
  width: 80%;
  max-width: 745px;
  height: 100%;
  object-fit: contain;
}