@media (max-width: 400px) {
  .demandWrapper ul {
    padding: 0 10%;
  }

  .forskoleupproretDemand h1 {
    font-size: 35px;
  }
}

@media (min-width: 401px) and (max-width: 650px) {
  .demandWrapper ul {
    padding: 0 10%;
  }
}
