@import 'om-oss.scss', 'goalDemand.scss', 'history.scss', 'press.scss', 'viVagrarBrytaLagen.scss';

@media (max-width: 600px) {
  %main-header-mobile {
    font-size: 2em;
    margin: 5%;
    align-self: center;
  }

  .tabHeader {
    @extend %main-header-mobile;
  }
}

@media (max-width: 1000px) {
  .tabContent:nth-child(2) {
    padding-top: 700px;
  }
}
