@import 'om-oss.scss', 'goalDemand.scss', 'history.scss', 'press.scss', 'viVagrarBrytaLagen.scss';

$mobilePSize: 1.3em;

@media (max-width: 600px) {
  %main-header-mobile {
    font-size: 2em;
    margin: 5%;
    align-self: center;
  }

  .tabHeader {
    @extend %main-header-mobile;
  }
}

@media (max-width: 1000px) {
  .firstSection {
    padding-top: 20% !important;
  }

  .forskoleupproretGoal,
  .history .firstSection,
  .om-oss .tabContentIntro,
  .press .articleListContainer,
  .omHashtagen {
    padding-top: 70px;
  }

  .tabContent p {
    font-size: $mobilePSize;
  }
}
