@media (max-width: 1000px) {
  .presentingPerson {
    display: flex;
    justify-content: center;
    height: auto;
    text-align: justify;
    flex-direction: column;
    align-self: center;
    padding: 0 5%;
  }

  .presentingPerson img {
    width: 100%;
    order: 2;
    margin: 5% 0;
    align-self: center;
  }

  .personText {
    margin: 5%;
    order: 1;
  }

  .contactInfo {
    margin-top: 15%;
  }

  @media (max-width: 600px) {
    .blob {
      width: 33%;
    }
  }

  @media (min-width: 601px) {
    .blob {
      width: 25%;
    }
  }

  .socialMediaImg {
    height: 45px;
    object-fit: contain;
  }
}
