@media (max-width: 1000px) {

  .tabContentIntro {
    display: flex;
    flex-direction: column;
    min-height: 95%;
  }

  .tabContentIntroText {
    margin: 0 15%;
    order: 0;
    text-align: center;
  }

  .tabContentIntroText h2 {
    margin-top: 0;
    font-size: 30px;
  }

  .tabContentIntro img {
    width: 60%;
    margin: 5% 0;
    order: 2;
  }

  .presentingPerson {
    display: flex;
    justify-content: center;
    height: auto;
    text-align: justify;
    flex-direction: column;
    align-self: center;
    padding: 0;
  }

  .presentingPerson img {
    width: 60%;
    order: 2;
    margin: 5% 0;
    align-self: center;
  }

  .personText {
    margin: 5% 15% 0 15%;
    order: 1;
  }

  .personText p {
    font-size: 16px;
  }
}
