@media (max-width: 850px) {
  @media (max-width: 700px) {
    .bookCover {
      width: 70%
    }
  }
  @media (min-width: 701px) {
    .bookCover {
      width: 50%
    }
  }

  .mediaContainer {
    padding: 10%;
  }

  .mediaContainer span h2 {
    margin-bottom: 20%;
    text-align: center;
  }

  .mediaContainer img {
    margin-top: 10%;
  }

  @media (max-width: 450px) {
    .mediaContainer h2 {
      font-size: 1.1em;
    }
  }

  #utbildningsminister {
    display: flex;
    flex-direction: column;
  }
  
  #utbildningsminister p {
    order: 2;
  }
  
  #utbildningsminister img {
    order: 0;
  }
  
  #lokalaPolitiker {
    display: flex;
    flex-direction: column;
  }
  
  #lokalaPolitiker span {
    order: 0
  }
  
  #lokalaPolitiker img {
    order: 2
  }
  
}