@import 'desktopStyles/desktop.scss', 'mobileStyles/mobile.scss', 'generalStyles/general.scss';

$forange: #F58124;
$tabContentBackground: #f0f0f0;
$pSize: 1em;

html, body, .app {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'montserrat';
  font-weight: 100;
  background-color: $tabContentBackground;
}

.app {
  display: flex;
  flex-direction: column;
}

.tabContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  height: auto;
  align-self: center;
}

.tabContent a {
  text-decoration: none;
}

.goalDemand,
.om-oss,
.history,
.pressatLage,
.viVagrarBrytaLagen,
.press,
.articleTemplate {
  display: flex;
  flex-direction: column;
}
