html, body, .app {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: arial;
  background-color: #f8f8f8;
}

.tabContent {
  display: flex;
  flex-direction: column;
}

@media (max-width: 600px) {
  .tabContent {
    padding: 0;
  }
}

@media (min-width: 601px) {
  .tabContent {
    padding: 70px 0 0 0;
  }
}

.tabContent h1 {
  font-weight: 100;
  font-size: 50px;
  margin-bottom: 0;
}

.tabContent a img {
  height: 50px;
  object-fit: contain;
}

.tabHeader {
  align-self: center;
}

@media (max-width: 709px) {
  .tabContentIntro {
    flex-direction: column;
    padding: 50px 0 0 0;
  }

  .tabContentIntroText {
    margin: 0 15%;
    order: 0;
    text-align: center;
  }

  .tabContentIntroText h2 {
    margin-top: 0;
    font-size: 30px;
  }

  .tabContentIntro img {
    width: 100%;
    margin: 0;
    order: 2;
  }

  .presentingPerson {
    flex-direction: column;
    align-self: center;
    padding: 0;
  }

  .presentingPerson img {
    width: 94%;
    order: 2;
    padding: 3%;
    margin: 50px 0 0 0;
  }

  .personText {
    margin: 5% 15% 0 15%;
    order: 1;
  }

  .personText p {
    font-size: 20px;
  }
}

@media (min-width: 710px) and (max-width: 999px) {
  .tabContentIntro {
    flex-direction: row;
  }

  .tabContentIntro img {
    max-height: 100vh;
  }

  .tabContentIntroText {
    margin: 0 5%;
  }

  .tabContentIntroText h2 {
    margin-top: 0;
    font-size: 2rem;
  }

  .tabContentIntroText p {
    font-size: 16px;
    word-break: break-word;
  }

  .tabContentIntro img {
    width: 50%;
  }

  .presentingPerson {
    padding: 50px 0;
  }

  .presentingPerson img {
    height: 300px;
    top: 100px;
    position: -webkit-sticky;
    position: sticky;
    margin: 5px 5% 0 5%;
  }

  .presentingPersonOdd .personText {
    margin-left: 5%;
  }

  .presentingPersonEven .personText {
    margin-right: 5%;
  }
}

@media (min-width: 1000px) {
  .tabContentIntro {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .tabContentIntro img {
    width: 50%;
    max-height: 100vh;
  }

  .tabContentIntroText {
    margin: 0 1%;
    padding: 0 5%;
    min-width: 400px;
    max-width: 430px;
  }

  .tabContentIntroText h2 {
    margin-top: 0;
    font-size: 3rem;
  }

  .tabContentIntroText p {
    font-size: 20px;
  }

  .presentingPerson {
    padding: 50px 0;
  }

  .presentingPerson img {
    height: 400px;
    margin: 0 40px;
    top: 100px;
    position: -webkit-sticky;
    position: sticky;
  }

  .personText {
    margin: 0 10%;
    max-width: 400px;
  }
}

.tabContentIntro {
  display: flex;
  height: auto;
  width: 100%;
  background-color: #F58124;
}

.tabContentIntro img {
  object-fit: contain;
  align-self: center;
}

.tabContentIntroText {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.howItStartedVideo {
  width: 100%;
  height: auto;
}

.contactInfo {
  display: flex;
  justify-content: space-between;
  padding: 5%;
  height: 10vh;
  background-color: #F58124;
}

.contactInfo span {
  margin: 0 1% 0 0;
}

.presentingPerson {
  display: flex;
  justify-content: center;
  height: auto;
  text-align: justify;
}

.presentingPerson h2 {
  margin-top: 0;
  font-size: 40px;
}

.presentingPerson p {
  margin-top: 0;
  font-size: 16px;
}

.presentingPerson img {
  object-fit: contain;
}

.presentingPersonOdd {
  background-color: #f8f8f8;
}

.presentingPersonEven {
  background-color: black;
  color: white;
}

@media (max-width: 400px) {
  .demandWrapper ul {
    padding: 0 10%;
  }

  .forskoleupproretsKrav h1 {
    font-size: 35px;
  }
}

@media (min-width: 401px) and (max-width: 650px) {
  .demandWrapper ul {
    padding: 0 10%;
  }
}

@media (min-width: 651px) {
  .demandWrapper {
    grid-template-columns: 1fr 1fr;
  }

  .demandWrapper ul {
    padding: 10%;
  }
}

.forskoleupproretsKrav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 5%;
}

.demandWrapper {
  margin-top: 20px;
  display: grid;
  max-width: 100%;
  overflow: hidden;
}

.demandWrapper ul {
  list-style: none;
}

.demandWrapper ul li::before {
  content: "\2022";
  color: #F58124;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.demandWrapper b {
  font-size: 25px;
  color: #F58124;
}

.demandWrapper li {
  margin: 25px 0;
  padding: 0;
  font-size: 25px;
  max-width: 100%;
}

.forskoleupproretsKrav h2 {
  background-color: black;
  border-radius: 5px;
  color: white;
  padding: 30px;
  text-align: center;
  font-weight: 100;
  font-size: 40px;
  width: 80%;
}