html, body, .app {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: arial;
  background-color: #e9e9e9;
}

.tabContent {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  align-self: center;
}

.goalDemand {
  display: flex;
  flex-direction: column;
}

.om-oss {
  display: flex;
  flex-direction: column;
}

.history {
  display: flex;
  flex-direction: column;
}

.news {
  display: flex;
  flex-direction: column;
}

.articleTemplate {
  display: flex;
  flex-direction: column;
}

.articleTemplate .tabContent {
  margin-top: 7%;
  padding: 5%;
  text-align: justify;
  background-color: white;
}

.contentImage {
  width: 100%;
}

.authorImage {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 3% 0;
}

.authorImage h4 {
  background-color: black;
  color: white;
  font-weight: 200;
  font-size: 20px;
  width: 100%;
  text-align: right;
  border-radius: 5px;
  padding: 20px;
  padding-right: 40px;
  margin-right: -20px;
}

.authorImage img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
}

.articleUl {
  margin: 0;
  padding: 0;
  width: 100%;
}

.articleUl li {
  display: flex;
  justify-content: space-between;
  background-color: white;
  list-style: none;
  color: black;
  margin: 20px 0;
  padding: 2%;
  border-radius: 5px;
}

.articleUl li a {
  color: black;
  text-decoration: none;
}

.articleUl li img {
  width: 200px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
}

@media (max-width: 600px) {
  .tabContent {
    padding: 0;
  }
}

@media (min-width: 601px) {
  .tabContent {
    padding: 70px 0 0 0;
  }

  .tabHeader {
    font-size: 3rem;
  }
}

.tabContent a img {
  height: 50px;
  object-fit: contain;
}

.tabHeader {
  align-self: center;
}

@media (max-width: 600px) {
  .tabContentIntro {
    display: flex;
    flex-direction: column;
    height: 90vh;
    padding: 50px 0 0 0;
  }

  .tabContentIntroText {
    margin: 0 15%;
    order: 0;
    text-align: center;
  }

  .tabContentIntroText h2 {
    margin-top: 0;
    font-size: 30px;
  }

  .tabContentIntro img {
    width: 100%;
    margin: 0;
    order: 2;
  }

  .presentingPerson {
    flex-direction: column;
    align-self: center;
    padding: 0;
  }

  .presentingPerson img {
    width: 94%;
    order: 2;
    padding: 3%;
    margin: 50px 0 0 0;
  }

  .personText {
    margin: 5% 15% 0 15%;
    order: 1;
  }

  .personText p {
    font-size: 20px;
  }
}

@media (min-width: 600px) and (max-width: 999px) {
  .tabContentIntro {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .tabContentIntro img {
    width: 100%;
  }

  .tabContentIntroText {
    margin: 0 5%;
  }

  .tabContentIntroText h2 {
    margin-top: 0;
    font-size: 2rem;
  }

  .tabContentIntroText p {
    font-size: 16px;
    word-break: break-word;
  }

  .presentingPerson {
    padding: 50px 0;
  }

  .presentingPerson img {
    height: 300px;
    top: 100px;
    position: -webkit-sticky;
    position: sticky;
    margin: 5px 5% 0 5%;
  }

  .presentingPersonOdd .personText {
    margin-left: 5%;
  }

  .presentingPersonEven .personText {
    margin-right: 5%;
  }
}

@media (min-width: 1000px) {
  .tabContentIntro {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 80vh;
  }

  .tabContentIntro img {
    height: 100%;
  }

  .tabContentIntroText {
    padding: 0 10%;
    min-width: 400px;
  }

  .tabContentIntroText h2 {
    margin-top: 0;
    font-size: 3rem;
  }

  .tabContentIntroText p {
    font-size: 20px;
  }

  .presentingPerson {
    padding: 50px 0;
  }

  .presentingPerson img {
    height: 400px;
    margin: 0 40px;
    top: 100px;
    position: -webkit-sticky;
    position: sticky;
  }

  .personText {
    margin: 0 10%;
    max-width: 400px;
  }
}

.tabContentIntro {
  width: 100%;
  border-radius: 5px;
  background-color: #F58124;
}

.tabContentIntro img {
  object-fit: contain;
  align-self: center;
  border-radius: 5px 0 0 5px;

}

.tabContentIntroText {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
}

.howItStartedVideo {
  width: 100%;
  height: auto;
}

.contactInfo {
  display: flex;
  justify-content: space-between;
  padding: 5%;
  height: 10vh;
  background-color: #F58124;
}

.contactInfo span {
  margin: 0 1% 0 0;
}

.presentingPerson {
  display: flex;
  justify-content: center;
  height: auto;
  text-align: justify;
}

.presentingPerson h2 {
  margin-top: 0;
  font-size: 40px;
}

.presentingPerson p {
  margin-top: 0;
  font-size: 16px;
}

.presentingPerson img {
  object-fit: contain;
}

.presentingPersonOdd {
  background-color: #f8f8f8;
}

.presentingPersonEven {
  background-color: black;
  color: white;
}

.forskoleupproretGoal {
  display: flex;
  align-self: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
  background-color: #F58124;
  border-radius: 5px;
}

.forskoleupproretGoal h1 {
  margin: 0;
  margin-top: 10%;
  font-size: 3rem;
}

.goalParagraph {
  width: 60%;
  text-align: center;
  margin: 10%;
  font-size: 25px;
}

.orangeText {
  padding: 0;
  color: white;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.forskoleupproretGoal h2 {
  background-color: black;
  border-radius: 5px;
  color: white;
  padding: 30px 0;
  margin: 0;
  font-weight: 100;
  font-size: 30px;
  width: 100%;
}

@media (max-width: 400px) {
  .demandWrapper ul {
    padding: 0 10%;
  }

  .forskoleupproretDemand h1 {
    font-size: 35px;
  }
}

@media (min-width: 401px) and (max-width: 650px) {
  .demandWrapper ul {
    padding: 0 10%;
  }

  .forskoleupproretDemand h1 {
    margin-top: 5%;
    font-size: 3rem;
  }
}

@media (min-width: 651px) {
  
  .forskoleupproretDemand h1 {
    padding-top: 7%;
    margin-bottom: 0;
    font-size: 3rem;
  }

  .demandWrapper {
    grid-template-columns: 1fr 1fr;
  }

  .demandWrapper ul {
    padding: 10%;
  }
}

@media (min-width: 1200px) {
  .tabContent {
    margin-top: 2%;
  }
}

.forskoleupproretDemand {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
  padding: 0 5%;
}

.demandWrapper {
  margin-top: 0;
  padding-top: 0;
  display: grid;
  max-width: 100%;
  overflow: hidden;
}

.demandWrapper ul {
  list-style: none;
}

.demandWrapper ul li::before {
  content: "\2022";
  color: #F58124;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.demandWrapper span {
  font-size: 25px;
  color: #F58124;
}

.demandWrapper li {
  margin: 25px 0;
  padding: 0;
  font-size: 25px;
  max-width: 100%;
}
