html, body, .app {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: arial;
  background-color: #f8f8f8;
}

.tabContent {
  display: flex;
  flex-direction: column;
  padding: 100px 10% 0 10%;
}

.tabContent h1 {
  font-weight: 100;
  font-size: 50px;
  margin-bottom: 0;
}

.tabContent a img {
  height: 50px;
  object-fit: contain;
}

.howItStartedVideo {
  width: 100%;
  height: auto;
}

.contactInfo {
  display: flex;
}

.contactInfo span {
  margin: 0 20px 0 0;
}