$forange: #ff9f50;

.person-thumbnails__container {
  display: flex;
  align-items: center;
  margin-top: 50px;
  width: 100%;
  padding: 20px 0;
  scrollbar-width: 0;
  overflow-x: scroll;
}

.person-thumbnails__container::-webkit-scrollbar {
  display: none;
}

.person-thumbnails__button {
  background: transparent;
  border: none;
  display: flex;
  height: 170px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
}

.person-thumbnails__img {
  width: 100px;
  object-fit: contain;
  border-radius: 50%;
  pointer-events: none;
  z-index: -1;
}

.person-thumbnails__name-h4 {
  margin-top: 10px;
  pointer-events: none;
  z-index: -1;
}

@media (min-width: 1023px) {
  .person-thumbnails__container {
    max-width: 1200px;
    justify-content: center;
    margin: 100px 0;
    margin-left: 0;
  }
}