.main-header__hero-img.pressat__intro-img {
  width: 50%;
  min-width: 280px;
  object-fit: contain;
}

.pressat__h2 {
  margin: 30px auto;
  max-width: 600px;
}

.main-p.grid__p {
  max-width: 400px;
}

.pressat__grid {
  align-items: center;
  justify-content: center;
  margin: 50px 0;
}

.pressat__img {
  width: 100%;
  object-fit: cover;
  border-radius: .75rem;
}

.pressat__img--margin-bottom {
  margin-bottom: 30px;
}

.pressat__img--margin-top {
  margin-top: 30px;
}

.pressat__shirt {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.pressat__img.shirt {
  max-width: 600px;
  align-self: center;
}

.cafe__carousel-container {
  margin-top: 50px;
}

.pressat__link {
  color: $forange;
}

.bookCover {
  align-self: center;
  object-fit: contain;
}

.info-box {
  box-shadow: 0 0 5px #0000001a;
  border-radius: .75rem;
  padding: 50px;
}

.info-box__links-container {
  text-align: left;
  order: 1;
  grid-area: b;
}

.main-h2.info-box__h2 {
  font-size: 1.2rem;
  grid-area: a;
}

.info-box__h4 {
  margin-top: 30px;
  margin-bottom: 10px;
}

.info-box__img {
  margin-top: 50px;
  grid-area: c;
}


.carousel-root {
  max-width: 800px;
  margin: 0 auto;
}

.carousel-slider {
  width: 50%;
  border-radius: 5px;
}

.carousel-slider img {
  max-height: 90vh;
  object-fit: cover;
}

.carousel .slide {
  background: transparent !important;
}

.thumbs-wrapper {
  display: none !important;
}

.carousel.carousel-slider .control-arrow:hover {
  background: none !important;
}

.carousel .control-dots .dot.selected, .carousel .control-dots .dot:focus {
  outline: none !important;
}

@media (min-width: 375px) {
  .main-h2.info-box__h2 {
    font-size: 1.5rem;
  }
}

@media (min-width: 768px) {
  .pressat__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    grid-gap: 50px;
    margin: 100px 0;
  }

  .info-box {
    display: grid;
    grid-template-areas: "a a"
                        "b c";
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
  }

  .info-box__img {
    margin-top: 0;
  }
}


#sharingArticle {
  transform: rotate3d(0, 1, 0, 180deg);
}

.cafeContainer {
  margin: 5% 0;
}

.fackforbundFooterImages {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding-top: 5%;
  padding: 10% 0;
}

.fackforbundFooter img {
  object-fit: contain;
  width: 80%;
  max-height: 140px;
}

.fackforbundFooterImages div {
  width: 50%;
}

