
.omHashtagen {
  display: flex;
  flex-direction: column;
  min-height: 85%;
  text-align: center;
  background-color: white;
  padding-left: 7%;
  padding-right: 7%;
}

.omHashtagen a {
  color: $forange;
}

.orangeBox {
  border-radius: 2px;
  justify-self: center;
  align-self: center;
  background-color: #ff9f50;
  width: 65%;
  padding: 2%;
  margin-bottom: 5%;
  color: white;
}

.toTheCenter {
  align-self: center;
  margin: 5% 0;
  height: auto;
}

.toTheCenter .blackBox {
  padding-bottom: 2%;
}

.blackBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 3px;
  background-color: black;
  width: 100%;
  height: 100%;
  text-align: center;
}

.blackBox img {
  width: 60%;
  object-fit: cover;
  margin: 15px 0;
}

.blackBox h2 {
  margin: 0;
  font-weight: lighter;
  text-align: center;
}

.blackBox h4 {
  margin: 0;
  font-weight: lighter;
}

.blackBox h5 {
  margin: 5px 0;
}

.blackBox p {
  margin: 10px 40px;
  padding-top: 5px;
  border-top: 1px solid $forange;
  color: $forange
}

.omHashtagen .gridView {
  justify-content: space-between;
  margin: 5% 0;
  text-align: justify;
}

.omHashtagen .gridView h2 {
  text-align: left;
}

.viVagrarBrytaLagen .vittnesmal {
  background-color: black;
  padding: 7%;
  margin: 5% 0;
  color: white;
  border-radius: 8px;
}

.viVagrarBrytaLagen .storiesText {
  margin: 10%;
}

.viVagrarBrytaLagen .vittnesmal h1 {
  font-size: 40px;
}

.viVagrarBrytaLagen .vittnesmal a {
  color: $forange;
}
