.mainNav {
  position: fixed;
  z-index: 10;
  width: 100%;
  max-width: 1200px;
  background-color: #e9e9e9;
  align-self: center;
  padding: 40px 0;
}

.mainNav ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.mainNav li {
  display: flex;
  align-items: center;
  list-style: none;
  max-height: 40px;
  padding: 0 10px;
}

.mainNav a {
  color: black;
  text-decoration: none;
  font-size: 18px;
  word-wrap: wrap;
}

.mainNav a:hover {
  color: #F58124;
}

#hemknapp {
  height: 3em;
  border-radius: 50%;
  object-fit: contain;
  border: 1px solid #f5822400;
}

#hemknapp:hover {
  border: 1px solid #F58124;
}

.mobileNav {
  content: "\2022";
  height: 40px;
  width: 40px;
}

@media (max-width: 800px) {
  .mainNav {
    display: none;
  }
}

@media (min-width: 801px) {
  .mobileNav {
    display: none;
  }
}