.home-box__container {
  max-width: 1200px;
  position: relative;
  align-self: center;
  display: flex;
  justify-content: center;
  flex-basis: 100%;
  flex-wrap: wrap;
  background-color: #ffffff9f;
}

.home-box {
  height: 30vh;
  max-height: 300px;
  min-height: 230px;
  margin: 1%;
  border-radius: 8px;
  box-shadow: 0 1px 3px #dadada;
  background-color: white;
  overflow: hidden;
  animation-name: imageDiv;
  animation-duration: 2s;
  transition: ease-out;
  transition-duration: .3s;
}

.home-box__text-container {
  min-height: 15%;
  z-index: 10;
}

.home-box__link {
  text-decoration: none;
}

@media (hover: hover) and (pointer: fine) {
  .home-box:hover {
    transform: scale(1.05);
  }
}

@keyframes imageDiv {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 1000px) {
  .home-box__container {
    width: 100%;
    margin-bottom: 5%;
  }
}

@media (max-width: 600px) {
  .home-box__container {
    padding: 5% 0;
  }

  .home-box {
    width: 90%;
  }
}

@media (max-width: 1001px) and (min-width: 601px) {
  .home-box {
    width: 45%;
  }
}

@media (min-width: 1001px) {
  .home-box {
    width: 30%;
  }
}

.home-box__img {
  margin-top: 5%;
  height: 50%;
  width: 100%;
  object-fit: contain;
}

.home-box__paragraph {
  font-size: 16px;
  color: #222222;
}

.home-box__title-h2 {
  font-size: 1.5rem;
  color: #3d3d3d;
}

.home-box__paragraph, 
.home-box__title-h2 {
  padding: 1%;
  margin: 0 5%;
}

.hashtag-card {
  position: relative;
  display: flex;
  flex-direction: column;
}

.home-box__hashtag-link {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-box__hashtag-text {
  font-size: 1.5rem;
  font-weight: 900;
  width: 100%;
  margin-bottom: 30px;
  color: #ff9f50;
  text-align: center;
}

.home-box__hashtag-span {
  min-height: 4px;
  max-height: 0px;
  min-width: 70%;
  align-self: center;
  border-radius: 5rem;
  background: #3d3d3d;
}

.home-box__smaller-font {
  font-size: 1rem;
}