$forange: #F58124;

.om-oss .firstSection img {
  object-fit: contain;
  align-self: center;
  margin: 5% 0;
  width: 100%;
}

.presentingPersonOdd {
  background-color: #f8f8f8;
}

.presentingPersonEven {
  background-color: black;
  color: white;
}

.contactInfo {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  height: 100%;
}

.contactContainer {
  margin-top: 20%;
  height: 150px;
}

.socialMediaImg {
  z-index: 10;
}

.contactInfo span {
  margin: 0 1% 0 0;
}

.socialImgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.blob {
  position: absolute;
  width: 200px;
  opacity: .4;
  z-index: 5;
}