$forange: #F58124;

.om-oss .firstSection img {
  object-fit: contain;
  align-self: center;
  margin: 5% 0;
  width: 100%;
}

.presentingPersonOdd {
  background-color: #f8f8f8;
}

.presentingPersonEven {
  background-color: black;
  color: white;
}

.contactInfo {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  height: 40vh;
}

.contactContainer {
  margin: 3%;
  height: 30%;
}

.socialImgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.socialMediaImg {
  z-index: 10;
  pointer-events: none;
}

.blob {
  max-width: 200px;
  position: absolute;
  opacity: .4;
  z-index: 5;
}

@media (hover: hover) and (pointer: fine) {
  .blob:hover {
    opacity: 1;
  }
}
