$forange: #F58124;

.om-oss .firstSection img {
  object-fit: contain;
  align-self: center;
  margin: 5% 0;
  width: 100%;
}

.presentingPersonOdd {
  background-color: #f8f8f8;
}

.presentingPersonEven {
  background-color: black;
  color: white;
}

.contactInfo {
  display: flex;
  justify-content: space-between;
  padding: 10%;
  height: 10%;
  background-color: $forange;
}

.contactInfo span {
  margin: 0 1% 0 0;
}