.pressatLage .gridView img {
  width: 100%;
  object-fit: cover;
  border-radius: 3px;
}

.bookCover {
  align-self: center;
  object-fit: contain;
}

.pressatLage h2 {
  text-align: left;
}

.mediaContainer {
  background-color: black;
  border-radius: 8px;
  margin: 5% 0;
}

.mediaLinksContainer {
  color: white;
  text-align: left;
  order: 1;
}

.mediaContainer span {
  text-align: center;
  color: white;
  display: block;
  margin: 0 0 3% 0;
  grid-area: a;
}

.mediaContainer img {
  width: 70%;
  align-self: center;
}

#sharingArticle {
  transform: rotate3d(0, 1, 0, 180deg);
}

.cafeContainer {
  margin: 5% 0;
}

#shirt {
  align-self: center;
}

.fackforbundFooterImages {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding-top: 5%;
  padding-bottom: 10%;
}

.fackforbundFooter img {
  object-fit: cover;
  width: 80%;
}

.fackforbundFooterImages div {
  width: 50%;
}

.carousel-slider {
  width: 100%;
  border-radius: 5px;
}

.carousel-slider img {
  object-fit: cover;
}

.carousel .slide {
  background: transparent !important;
}

.thumbs-wrapper {
  display: none !important;
}

.carousel.carousel-slider .control-arrow:hover {
  background: none !important;
}

.carousel .control-dots .dot.selected, .carousel .control-dots .dot:focus {
  outline: none !important;
}
